{% extends 'top/base.html' %}
{% block content %}

<div class="wrapper">
  {% include "./side_bar.html" %}
  <div class="photo">
    <div class="photo__upload">
      <form enctype="multipart/form-data" action="{% url 'top:photo' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="commit" value="Send" class="photo__upload__submit" data-disable-with="Send">
      </form>
    </div>
    <div class="photo__gallery">
      {% for photo in photos %}
        <div class="photo__list">
          <div class="photo__list__situation">
            {{ photo.situation }}
          </div>
          <div class="photo__list__image">
            <img src="{{MEDIA_URL}}{{photo.image}}" width=300px>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}