{% load static %}

<div class="side__bar">
  <div class="side__bar__top">
    <a href="">
      <img src="{% static "image/aco-guitar.jpg" %}" class="guitar__logo">
      <h2>Home</h2>
    </a>
  </div>
  <div class="side__bar__titles">
    <div class="side__bar__title">
      <a href="">
        <img src="{% static "image/calender.jpg" %}" class="side__bar__title__logo">
        <h2>Schedule</h2>
      </a>
    </div>
    <div class="side__bar__title">
      <a href="">
        <img src="{% static "image/money1.jpg" %}" class="side__bar__title__logo">
        <h2>Wallet</h2>
      </a>
    </div>
    <div class="side__bar__title">
      <a href="">
        <img src="{% static "image/listband.jpg" %}" class="side__bar__title__logo">
        <h2>Merchandise</h2>
      </a>
    </div>
    <div class="side__bar__title">
      <a href="">
        <img src="{% static "image/camera1.jpg" %}" class="side__bar__title__logo">
        <h2>Photo</h2>
      </a>
    </div>
  </div>
</div>