{% extends 'top/base.html' %}
{% block content %}
{% load widget_tweaks %}

<div class="wrapper">
  {% include "./side_bar.html" %}
  <div class="wallet">
    <div class="wallet__message">
      <h2>Wallet Management</h2>
    </div>
    <div class="wallet__form">
      <form action="{% url 'top:wallet' %}" accept-charset="UTF-8" method="post">
        {% csrf_token %}
        {{ form.money|add_class:"income"|attr:"placeholder:income"}}
        <input type="submit" name="commit" value="SEND" class="button" data-disable-with="SEND">
      </form>
    </div>
    <div class="wallet__form">
      <form action="{% url 'top:wallet' %}" accept-charset="UTF-8" method="post">
        {% csrf_token %}
        {{ form.money|add_class:"payment"|attr:"placeholder:payment" }}
        <input type="submit" name="commit" value="SEND" class="button" data-disable-with="SEND">
      </form>
    </div>
    <div class="current__savings">
      <p>
        Current Wallet
        <span>
          {{ last_wallet.money }}
        </span>
        yen
      </p>
    </div>
    <div class="wallet__graph">
      <canvas id="myChart" width="640" height="1400" style="display: block; height: 840px; width: 320px;" class="chartjs-render-monitor"></canvas>
      <script type="text/javascript">
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Surplus", "Deficit"],
                datasets: [{
                    label: 'Balance',
                    data: [{{wallet_bar}}, {{wallet_deficit_bar}}],
                    backgroundColor: [
                      'rgba(0, 0, 204, 0.1)',
                      'rgba(204, 102, 153, 0.1)'
                    ],
                    borderColor: [
                      'rgba(0, 0 ,0 , 0.2)',
                      'rgba(255, 99, 132, 0.5)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            min: 0,
                            max: 300000
                        }
                    }]
                }
            }
        });
      </script>
    </div>
  </div>
</div>

{% endblock %}
