{% extends 'top/base.html' %}
{% block content %}

<div class="wrapper">
  {% include "./side_bar.html" %}
  <div class="wallet">
    <div class="wallet__message">
      <h2>Wallet Management</h2>
    </div>
    <div class="wallet__form">
      <form action="/wallets" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="EKZZFlGLH/FA+dRa1W9H6SiAAI+zp4CBeKbUaNfXW3bg3gRaUxICVklaUun6fE5UD6G+uUU8eKRIa1jV+UrLIg=="><input placeholder="income" class="income" type="text" name="wallet[money]" id="wallet_money">
        <input type="submit" name="commit" value="SEND" class="button" data-disable-with="SEND">
      </form>
    </div>
    <div class="wallet__form">
      <form action="/wallets" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="LQTQQCkNbfol8sRWVJ0lCURyPKKxkSrrVczAI9nxGp3dfI0MK5RwXSxRQuV7jiy0Y1OClEcK0s5lAUye92yKyQ=="><input placeholder="payment" class="payment" type="text" name="wallet[money]" id="wallet_money">
        <input type="submit" name="commit" value="SEND" class="button" data-disable-with="SEND">
      </form>
    </div>
    <div class="current__savings">
      <p>
        Current Wallet
        <span>
          -56078
        </span>
        yen
      </p>
    </div>
    <div class="wallet__graph">
      <canvas id="myChart" width="640" height="1680" style="display: block; height: 840px; width: 320px;" class="chartjs-render-monitor"></canvas>
      <script type="text/javascript">
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Surplus", "Deficit"],
                datasets: [{
                    label: 'Balance',
                    data: [100000, 200000],
                    backgroundColor: [
                      'rgba(0, 0, 204, 0.1)',
                      'rgba(204, 102, 153, 0.1)'
                    ],
                    borderColor: [
                      'rgba(0, 0 ,0 , 0.2)',
                      'rgba(255, 99, 132, 0.5)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            min: 0,
                            max: 300000
                        }
                    }]
                }
            }
        });
      </script>
    </div>
  </div>
</div>

{% endblock %}
