<div class="photo">
  <div class="photo__upload">
  <form enctype="multipart/form-data" action="/photos" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="UcKRLJfux5dbOd8XVo9n99mN+3mcz645E/7yKnyIlsBdYwA8awCZeCKhSmKYBNxaaSJc8aI1Xy4HSTaSdRpPPA=="><select name="photo[situation]" id="photo_situation"><option value="Live">Live</option>
  <option value="Days">Days</option>
  <option value="All">All</option></select>
  <input class="photo__upload__file" type="file" name="photo[image]" id="photo_image">
  <input type="submit" name="commit" value="Send" class="photo__upload__submit" data-disable-with="Send">
  </form></div>
  <div class="photo__gallery">
  <div class="photo__list">
  <div class="photo__list__situation">
  Days
  </div>
  <div class="photo__list__time">
  2019/12/16 12:05
  </div>
  <div class="photo__list__image">
  <img src="/uploads/photo/image/48/IMG_0070.JPG">
  </div>
  </div>
  <div class="photo__list">
  <div class="photo__list__situation">
  Live
  </div>
  <div class="photo__list__time">
  2019/12/16 12:05
  </div>
  <div class="photo__list__image">
  <img src="/uploads/photo/image/49/IMG_0050.JPG">
  </div>
  </div>
  <div class="photo__list">
  <div class="photo__list__situation">
  All
  </div>
  <div class="photo__list__time">
  2019/12/16 12:06
  </div>
  <div class="photo__list__image">
  <img src="/uploads/photo/image/50/IMG_0054.JPG">
  </div>
  </div>
  <div class="photo__list">
  <div class="photo__list__situation">
  All
  </div>
  <div class="photo__list__time">
  2019/12/16 12:06
  </div>
  <div class="photo__list__image">
  <img src="/uploads/photo/image/51/IMG_0062.JPG">
  </div>
  </div>
  <div class="photo__list">
  <div class="photo__list__situation">
  Live
  </div>
  <div class="photo__list__time">
  2019/12/16 12:06
  </div>
  <div class="photo__list__image">
  <img src="/uploads/photo/image/52/IMG_0051.JPG">
  </div>
  </div>
  <div class="photo__list">
  <div class="photo__list__situation">
  Days
  </div>
  <div class="photo__list__time">
  2019/12/16 12:06
  </div>
  <div class="photo__list__image">
  <img src="/uploads/photo/image/53/IMG_0061.JPG">
  </div>
  </div>
  <div class="photo__list">
  <div class="photo__list__situation">
  Days
  </div>
  <div class="photo__list__time">
  2019/12/16 12:07
  </div>
  <div class="photo__list__image">
  <img src="/uploads/photo/image/54/IMG_0067.JPG">
  </div>
  </div>
  <div class="photo__list">
  <div class="photo__list__situation">
  Days
  </div>
  <div class="photo__list__time">
  2019/12/16 12:07
  </div>
  <div class="photo__list__image">
  <img src="/uploads/photo/image/55/IMG_0068.JPG">
  </div>
  </div>
  <div class="photo__list">
  <div class="photo__list__situation">
  Live
  </div>
  <div class="photo__list__time">
  2019/12/16 12:07
  </div>
  <div class="photo__list__image">
  <img src="/uploads/photo/image/56/IMG_0053.JPG">
  </div>
  </div>
  <div class="photo__list">
  <div class="photo__list__situation">
  Days
  </div>
  <div class="photo__list__time">
  2019/12/16 12:12
  </div>
  <div class="photo__list__image">
  <img src="/uploads/photo/image/57/IMG_0065.JPG">
  </div>
  </div>
  <div class="photo__list">
  <div class="photo__list__situation">
  Days
  </div>
  <div class="photo__list__time">
  2019/12/16 12:14
  </div>
  <div class="photo__list__image">
  <img src="/uploads/photo/image/58/IMG_0057.JPG">
  </div>
  </div>
  <div class="photo__list">
  <div class="photo__list__situation">
  Days
  </div>
  <div class="photo__list__time">
  2019/12/17 01:59
  </div>
  <div class="photo__list__image">
  <img src="/uploads/photo/image/59/IMG_0057.JPG">
  </div>
  </div>
  </div>
  </div>